# Dependências
node_modules/
backend/node_modules/

# Pastas de build
dist/
out/

# Arquivos temporários
backend/temp/
*.log
*.tmp

# IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db

# Arquivos de ambiente
.env
*.local